<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>403 Page</title>

		<link rel="stylesheet" href="../../css/error404.css">

	</head>

	<body>
		<!--<div class="adcenter">-->
			<!--<script src="http://www.cssmoban.com/include/new/ggad2_728x90.js"></script>-->
		<!--</div>-->

		<div class="about">
			<a class="bg_links social portfolio" href="#">
				<span class="icon"></span>
			</a>
			<a class="bg_links social dribbble" href="#">
				<span class="icon"></span>
			</a>
			<a class="bg_links social linkedin" href="#">
				<span class="icon"></span>
			</a>
			<a class="bg_links logo"></a>
		</div>

		<nav>
			<div class="menu">
				<p class="website_name">LOGO</p>
				<div class="menu_links">
					<a href="" class="link">about</a>
					<a href="" class="link">projects</a>
					<a href="" class="link">contacts</a>
				</div>
				<div class="menu_icon">
					<span class="icon"></span>
				</div>
			</div>
		</nav>

		<section class="wrapper">

			<div class="container">

				<div id="scene" class="scene" data-hover-only="false" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">

					<div class="circle" data-depth="1.2" style="transform: translate3d(-29.5px, -48.3px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></div>

					<div class="one" data-depth="0.9" style="transform: translate3d(-22.1px, -36.2px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
						<div class="content">
							<span class="piece"></span>
							<span class="piece"></span>
							<span class="piece"></span>
						</div>
					</div>

					<div class="two" data-depth="0.60" style="transform: translate3d(-14.8px, -24.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
						<div class="content">
							<span class="piece"></span>
							<span class="piece"></span>
							<span class="piece"></span>
						</div>
					</div>

					<div class="three" data-depth="0.40" style="transform: translate3d(-9.8px, -16.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
						<div class="content">
							<span class="piece"></span>
							<span class="piece"></span>
							<span class="piece"></span>
						</div>
					</div>

					<p class="p404" data-depth="0.50" style="transform: translate3d(-12.3px, -20.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">403</p>
					<p class="p404" data-depth="0.10" style="transform: translate3d(-2.5px, -4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">403</p>

				</div>

				<div class="text">
					<article>
						<p>您的权限不足，请联系管理员!<br>请点击按钮返回首页！</p>
						<button ><a href="../index.html">返回首页</a></button>
					</article>
				</div>

			</div>
		</section>

		<script src="../../js/parallax.min.js"></script>
		<script src="../../js/jquery-3.3.1.min.js"></script>
		<script>
			var scene = document.getElementById('scene');
			var parallax = new Parallax(scene);
		</script>

	</body>

</html>