<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
 <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css"/>       
        <link href="assets/css/codemirror.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/ace.min.css" />
        <link rel="stylesheet" href="font/css/font-awesome.min.css" />
        <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="assets/js/typeahead-bs2.min.js"></script>   
        <script src="js/lrtk.js" type="text/javascript" ></script>		
		<script src="assets/js/jquery.dataTables.min.js"></script>
		<script src="assets/js/jquery.dataTables.bootstrap.js"></script>
        <script src="assets/layer/layer.js" type="text/javascript" ></script>          
        <script type="text/javascript" src="Widget/swfupload/swfupload.js"></script>
        <script type="text/javascript" src="Widget/swfupload/swfupload.queue.js"></script>
        <script type="text/javascript" src="Widget/swfupload/swfupload.speed.js"></script>
        <script type="text/javascript" src="Widget/swfupload/handlers.js"></script>
<title>广告管理</title>
</head>

<body>
<div class=" clearfix" id="advertising" >
       <div id="scrollsidebar" class="left_Treeview">
            <div class="show_btn" id="rightArrow"><span></span></div>
            <div class="widget-box side_content" >
                <div class="side_title"><a title="隐藏" class="close_btn"><span></span></a></div>
                <div class="side_list">
                     <div class="widget-header header-color-green2">
                        <h4 class="lighter smaller">广告图分类</h4>
                     </div>
                    <div class="widget-body" >
                        <ul class="b_P_Sort_list" id="pos">
                            <li class="li-dian">
                                <i class="orange  fa fa-user-secret"></i>
                                <a href="#">全部 {{poslist.length}}</a>
                            </li>
                            <li class="li-dian" v-for="po in poslist">
                                <i class="fa fa-image pink ">
                                    <a href="#"> {{po.position}}</a>
                                </i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
  </div>
    <div class="Ads_list" id="Ads_list">
   <div class="border clearfix">
       <span class="l_f">
        <a href="javascript:void(0)" onclick="addClick()" id="ads_add" class="btn btn-warning"><i class="fa fa-plus"></i> 添加广告</a>
       </span>
       <span class="r_f">共：<b>{{pageInfo.total}}</b>条广告</span>
     </div>

     <div class="Ads_lists">
         <div class="row" style="margin: 10px;">
             <div class="col-sm-6">
                 <div class="dataTables_length" id="sample-table_length">
                     <label>每页显示条数:
                         <select name="sample-table_length" aria-controls="sample-table" class="">
                             <option value="3">3</option>
                             <option value="5">5</option>
                             <option value="10">10</option>
                             <option value="25">25</option>
                             <option value="50">50</option>
                             <option value="100">100</option>
                        </select>
                     </label>
                 </div>
             </div>
         </div>
       <table class="table table-striped table-bordered table-hover" id="sample-table">
		<thead>
		 <tr>
				<th width="80">ID</th>
				<th width="100">分类</th>
				<th width="240px">图片</th>
				<th width="250px">链接地址</th>
				<th width="180">加入时间</th>
                <th width="180">修改时间</th>
				<th width="250">操作</th>
			</tr>
		</thead>
	<tbody>
      <tr v-for="list in pageInfo.list">
       <td class="Radvert">{{list.id}}</td>
       <td>{{list.describe}}</td>
       <td><span class="ad_img">
           <img :src="'..'+list.imgUrl"  width="100%" height="100%"/>
       </span>
       </td>
       <td><a href="#" target="_blank">{{list.href}}</a></td>
       <td class="txt">{{list.createTime}}</td>
       <td class="txt">{{list.updateTime}}</td>
       <td class="td-manage">
        <a title="编辑" @click="clickBtn(list.id)" href="javascript:(void 0);"  class="btn btn-xs btn-info" ><i class="fa fa-edit bigger-120"></i></a>
        <a title="删除" href="javascript:(void 0);"  onclick="member_del(this,'1')" class="btn btn-xs btn-warning" ><i class="fa fa-trash  bigger-120"></i></a>

       </td>
      </tr>
    </tbody>
    </table>
         <div class="row">
             <div class="col-sm-6">
                 <div class="dataTables_info" id="sample-table_info" role="status" aria-live="polite">第 {{pageInfo.startRow}} 到{{pageInfo.endRow}}  条记录，共 {{pageInfo.total}} 条</div>
             </div>
             <div class="col-sm-6">
                 <div class="dataTables_paginate paging_bootstrap" id="sample-table_paginate">
                     <ul class="pagination">
                         <li :class="[pageInfo.hasPreviousPage  ? 'active':'','prev','disabled']" >
                            <a href="javascript:(void 0);" @click="getAdvert(pageInfo.prePage)">上一页</a>
                         </li>
                         <li v-for="pag in pageInfo.navigatepageNums" @click="getAdvert(pag)" :class="[pageInfo.pageNum==pag?'active':'']">
                             <a href="javascript:(void 0);">{{pag}}</a>
                         </li>
                         <li  :class="[pageInfo.hasNextPage ? 'active':'','next','disabled']"  @click="getAdvert(pageInfo.nextPage)">
                             <a href="javascript:(void 0);">下一页</a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
<!--改变广告-->
<div id="list">
<div class="fix" style="display: none; width: 500px;height: 200px;margin: 0 auto;background: #f9f9f9;color: black;position: fixed;top: 50px;left: 30%;">
    <a id="shows" href="javascript:(void 0);" style="float: right;margin: 5px;border: 1px solid #6fb3e0;">关闭</a>
    <div style="height: 20px;width: 100%;"></div>
    <form id="setad" action="/advert/setAdvert" method="post" enctype="multipart/form-data">
    <div style="margin: 0 auto;width: 300px;">
        <select name="positions" class="form-control">
            <option v-for="po in poslists">{{po.position}}</option>
        </select>
        <span style="display: block;">
            图片:<input name="upload" style="margin: 0;" class="form-control" type="file"/>
        </span>
        <span style="display: block;">
            连接地址:<input name="herf" style="margin: 0;" class="form-control" type="text"/>
        </span>
        <input id="uid" name="id" type="text" value="" style="height: 0;padding: 0;margin: 0;"/>
        <a id="but" href="javascript:(void 0);" style="display: block;background-color: #6fb3e0;margin-top: 10px; border: 1px solid #6fb3e0;text-align: center;">提交</a>
    </div>
    </form>
    <script>
        $(function () {
            $("#shows").click(function () {
                $(".fix").css("display","none")
            })
            $("#but").click(function () {
                var sid = $(".fix").data("sid");
                var id = $("#uid").val(sid)
                var position = $("#positions").val();
                var img_Url = $("#img_Url").val();
                var herf = $("#herf").val();
                if (id != "" && position != "" && img_Url != "" && herf != "") {
                    $("#setad").submit()
                }
            })
        })

    </script>
</div>
<!--添加广告样式-->
<div id="add_ads_style"  style="display:none">
 <div class="add_adverts">
 <form id="uploads" action="/advert/uploadImg" method="post" enctype="multipart/form-data">
 <ul>
  <li >
      <label class="label_name">所属分类</label>
      <span class="cont_style">
        <select class="form-control" id="form-field-select-1"  name="option">
            <option v-for="pos in poslists">{{pos.position}}</option>
        </select>
      </span>
  </li>
     <li>
         <label class="label_name">连接地址</label>
         <span class="cont_style">
             <input class="" name="herf" type="text" placeholder="连接地址"/>
         </span>
     </li>
     <li>
         <label class="label_name">图片</label>
         <span class="cont_style">
             <div class="demo">
                   <div class="logobox">
                       <div class="resizebox">
                           <img id="imges" src="images/image.png" width="100px" alt="" height="100px"/>
                           <input class="files" name="upload" type="file" style="width: 100%;height: 120px;position: relative;top: -100px;opacity: 0.8;"/>
                       </div>
                   </div>
                   <div class="logoupload">
                      <div style="clear:both;height:0;overflow:hidden;"></div>
                      <div class="progress-box" style="display:none;">
                        <div class="progress-bar">
                            <div style="width:0%;" class="bar-line"></div>
                        </div>
                      </div>
                       <div class="prompt">
                           <p>支持.jpg;.gif;.png;.jpeg格式的图片</p>
                       </div>
                  </div>
               </div>
         </span>
   </li>
 </ul>
 </form>
 </div>

</div>
</div>
</body>
</html>
<script>


//初始化宽度、高度  
 $(".widget-box").height($(window).height()); 
 $(".Ads_list").width($(window).width()-220);
  //当文档窗口发生改变时 触发  
    $(window).resize(function(){
	$(".widget-box").height($(window).height());
	 $(".Ads_list").width($(window).width()-220);
	});
	$(function() { 
	$("#advertising").fix({
		float : 'left',
		//minStatue : true,
		skin : 'green',	
		durationTime :false,
		stylewidth:'220',
		spacingw:30,//设置隐藏时的距离
	    spacingh:250,//设置显示时间距
		set_scrollsidebar:'.Ads_style',
		table_menu:'.Ads_list'
	});
});
/*广告图片-停用*/
function member_stop(obj,id){
	layer.confirm('确认要关闭吗？',{icon:0,},function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs " onClick="member_start(this,id)" href="javascript:;" title="显示"><i class="fa fa-close bigger-120"></i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已关闭</span>');
		$(obj).remove();
		layer.msg('关闭!',{icon: 5,time:1000});
	});
}
/*广告图片-启用*/
function member_start(obj,id){
	layer.confirm('确认要显示吗？',{icon:0,},function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs btn-success" onClick="member_stop(this,id)" href="javascript:;" title="关闭"><i class="fa fa-check  bigger-120"></i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">显示</span>');
		$(obj).remove();
		layer.msg('显示!',{icon: 6,time:1000});
	});
}
/*广告图片-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',{icon:0,},function(index){
	    var ids=$(obj).parents(".td-manage").siblings(".Radvert").text()
		$.post("/advert/removeAdvert",{"ids":ids},function (date) {
                if (date){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else {
                    layer.msg('删除失败!',{icon:1,time:1000});
                }
        })
	});
}
/*******添加广告*********/

function addClick(){
    // $("#add_ads_style").show();

    layer.open({
        type: 1,
        title: '添加广告',
        maxmin: true,
        shadeClose: false, //点击遮罩关闭层
        area : ['800px' , ''],
        content:$('#add_ads_style'),
        btn:['提交','取消'],
        yes:function(index,layero){
            var num=0;
            var str="";
            $(".add_adverts input[type$='file']").each(function(n){
                if($(this).val()==""){
                    layer.alert(str+=""+$(this).attr("name")+"不能为空！\r\n",{
                        title: '提示框',
                        icon:0,
                    });
                    num++;
                    return false;
                }
            });
            if(num>0){  return false;}
            else{
                $("#uploads").submit();
                layer.alert('添加成功！',{
                    title: '提示框',
                    icon:1,
                });

                layer.close(index);
            }
        }
    });
}

</script>
<script type="text/javascript">
function updateProgress(file) {
	$('.progress-box .progress-bar > div').css('width', parseInt(file.percentUploaded) + '%');
	$('.progress-box .progress-num > b').html(SWFUpload.speed.formatPercent(file.percentUploaded));
	if(parseInt(file.percentUploaded) == 100) {
		// 如果上传完成了
		$('.progress-box').hide();
	}
}

function initProgress() {
	$('.progress-box').show();
	$('.progress-box .progress-bar > div').css('width', '0%');
	$('.progress-box .progress-num > b').html('0%');
}

function successAction(fileInfo) {
	var up_path = fileInfo.path;
	var up_width = fileInfo.width;
	var up_height = fileInfo.height;
	var _up_width,_up_height;
	if(up_width > 120) {
		_up_width = 120;
		_up_height = _up_width*up_height/up_width;
	}
	$(".logobox .resizebox").css({width: _up_width, height: _up_height});
	$(".logobox .resizebox > img").attr('src', up_path);
	$(".logobox .resizebox > img").attr('width', _up_width);
	$(".logobox .resizebox > img").attr('height', _up_height);
}

var swfImageUpload;
$(document).ready(function() {
	var settings = {
		flash_url : "Widget/swfupload/swfupload.swf",
		flash9_url : "Widget/swfupload/swfupload_fp9.swf",
		upload_url: "upload.php",// 接受上传的地址
		file_size_limit : "5MB",// 文件大小限制
		file_types : "*.jpg;*.gif;*.png;*.jpeg;",// 限制文件类型
		file_types_description : "图片",// 说明，自己定义
		file_upload_limit : 100,
		file_queue_limit : 0,
		custom_settings : {},
		debug: false,
		// Button settings
		button_image_url: "Widget/swfupload/upload-btn.png",
		button_width: "95",
		button_height: "30 ",
		button_placeholder_id: 'uploadBtnHolder',
		button_window_mode : SWFUpload.WINDOW_MODE.TRANSPARENT,
		button_cursor : SWFUpload.CURSOR.HAND,
		button_action: SWFUpload.BUTTON_ACTION.SELECT_FILE,
		
		moving_average_history_size: 40,
		
		// The event handler functions are defined in handlers.js
		swfupload_preload_handler : preLoad,
		swfupload_load_failed_handler : loadFailed,
		file_queued_handler : fileQueued,
		file_dialog_complete_handler: fileDialogComplete,
		upload_start_handler : function (file) {
			initProgress();
			updateProgress(file);
		},
		upload_progress_handler : function(file, bytesComplete, bytesTotal) {
			updateProgress(file);
		},
		upload_success_handler : function(file, data, response) {
			// 上传成功后处理函数
			var fileInfo = eval("(" + data + ")");
			successAction(fileInfo);
		},
		upload_error_handler : function(file, errorCode, message) {
			alert('上传发生了错误！');
		},
		file_queue_error_handler : function(file, errorCode, message) {
			if(errorCode == -110) {
				alert('您选择的文件太大了。');	
			}
		}
	};
	swfImageUpload = new SWFUpload(settings);
});
</script>
<script>
// jQuery(function($) {
		// 		var oTable1 = $('#sample-table').dataTable( {
		// 		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		// "bStateSave": true,//状态保存
		// "aoColumnDefs": [
		//   //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		//   {"orderable":false,"aTargets":[0,2,3,4,5,7,8,]}// 制定列不参与排序
		// ] } );
        //
        //
		// 		$('table th input:checkbox').on('click' , function(){
		// 			var that = this;
		// 			$(this).closest('table').find('tr > td:first-child input:checkbox')
		// 			.each(function(){
		// 				this.checked = that.checked;
		// 				$(this).closest('tr').toggleClass('selected');
		// 			});
        //
		// 		});
        //
        //
		// 		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
		// 		function tooltip_placement(context, source) {
		// 			var $source = $(source);
		// 			var $parent = $source.closest('table')
		// 			var off1 = $parent.offset();
		// 			var w1 = $parent.width();
        //
		// 			var off2 = $source.offset();
		// 			var w2 = $source.width();
        //
		// 			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
		// 			return 'left';
		// 		}
		// 	})
</script>
<script type="text/javascript" src="../js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el : "#list",
        //声明数据
        data : {
            poslists: []
        },
        methods : {
            getposition : function () {
                var _this = this;
                //异步请求
                axios.get("/position")
                    //成功
                    .then(function (resp) {
                        console.log(resp.data)
                        _this.poslists = resp.data;
                    })
                    .catch(function (resp) {
                        console.log("服务器繁忙")
                    })
            }

        },
        //vue创建时
        created : function () {
            this.getposition();
        }
    })
    new Vue({
        el : "#pos",
        //声明数据
        data : {
            poslist: []
        },
        methods : {
            getposition : function () {
                var _this = this;
                //异步请求
                axios.get("/position")
                    //成功
                    .then(function (resp) {
                        console.log(resp.data)
                        _this.poslist = resp.data;
                    })
                    .catch(function (resp) {
                        console.log("服务器繁忙")
                    })
            }

        },
        //vue创建时
        created : function () {
            this.getposition();
        }
    })
    // 查询所有
    new Vue({
        el : "#Ads_list",
        //声明数据
        data : {
            pageInfo : {}
        },
        methods : {
            getAdvert : function (pageNum) {
                var _this = this;
                //异步请求
                axios.get("/advert/getAllAdvert",{
                    params :{
                        pageNum : pageNum,
                        pageSize : $("#sample-table_length select>option:selected").val()
                    }
                })
                    //成功
                    .then(function (resp) {
                        console.log(resp.data)
                        _this.pageInfo = resp.data;
                    })
                    .catch(function (resp) {
                        console.log("服务器繁忙")
                    })
            },
            clickBtn : function  (sid){
                console.log(sid)
                $(".fix").data("sid",sid);
                $(".fix").css("display","block")
            }
        },
        //vue创建时
        created : function () {
            this.getAdvert(1);
        }
    })
</script>